@font-face {
  font-family: Banana;
  src: url(/fonts/banana-reg.otf);
}

body{
  box-sizing:border-box;
  overflow-x:hidden;
  font-family:Banana;
  background-color: #5be76b;
}
.fullheight{
  height:100vh;
}
.eightyheight{
  height:90vh;
}
.threequarterheight{
  height:75vh;
}
.halfheight{
  height:50vh;
}
.quarterheight{
  height:25vh;
}
.tenheight{
  height:10vh;
}
.fiveheight{
  height:2em;
}
.margin-top-small{
  margin-top:2em;
}
.margin-top-med{
  margin-top:4em;
}
.joostergreen{
    background-color: #5be76b;
}
.green{
  background-color:green;
}
.purple{
  background-color: purple;
}
.red{
background-color:red;
}
.blue{
  background-color:blue;
}
.white{
  background-color: #fff;
}
.greenhover:hover{
  background-color:green;
  border:1px solid lime;
}
.whitetext{
  color:#fff;
}
.fontmed{
  font-size:2.5em;
}

#joinus{
  padding-top:5em;
}
