<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Jooster</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/test.css">
  </head>
  <body>
    <div class="container-fluid no-padding"></div>
      <div class="row tenheight no-padding" id="treepanel">
            <!--LOGO -->
            <p class="col-xs-3 fiveheight blue" id="logo">
              JOOSTER
            </p>
            <button type="button" name="button" class="col-xs-3 col-xs-offset-6 fiveheight blue">
              Sign Up
            </button>
      <div class="row eightyheight purple" id="joinus">
          <button type="button" name="button" class="col-xs-12">Slogan</button>
      </div>
      <div class="row tenheight green" id="treebanner">
        <div class="col-xs-12">
          <button type="button" name="button" class="col-xs-12">Trees</button>
        </div>
      </div>
      <div class="row fullheight" id="signuppanel">
        <div class="col-xs-12 quarterheight" id="signuptextdiv">
          <p class="col-xs-12">Some text here about joining!</p>
          <p class="col-xs-9">Shorter text!</p>
        </div>
        <div class="col-xs-12 halfheight purple">
          <form class="col-xs-12" action="index.html" method="post">
            <input type="text" name="" value="" placeholder="Name">
          </form>
        </div>

        <div class="col-xs-12 quarterheight red" id="botbuttondiv">
          <span class="col-xs-1"></span>
          <button type="button" name="button" class="col-xs-5 green greenhover">Sign Up</button>
          <button type="button" name="button" class="col-xs-5 green">Contact Us</button>
          <span class="col-xs-1"></span>
        </div>
  </body>
</html>
